* {
    margin: 0px;
    padding: 0px;
    
}

body{
    background-color: black;
    color: white;
    width: 100%;
}

header{
    background-color: #970B78;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 2px 4px 2px 2px black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

h1#mainname{
    color: black;
    padding: 10px; 
    font-weight: bolder;
    
}

.listac{
    font-weight: bold;
    text-decoration: none;
    color: white;   
    margin-left: 20px; 
}

.listac:hover{
    color: black;
    font-weight: bolder;
    
}

img#home{
    width: 32px;
    height: 32px;
    margin-left: auto;
    padding: 15px;
    
}

div#sinopse{
    width: 44.063rem;
    height: 31.25rem;
}

@media (max-width: 309px) {
    h1#mainname{
        font-size: 1.1rem;
    }

    h1#titlesin{
        max-width: 200px;
        text-align: center;
    }
    div#bodysin{
        max-width: 200px;
        height: 140px; 
        font-size: 9px;
        text-align: center;
    }
    img#maincene{
        width: 110px;
        height: 110px;
        border-radius: 5px;
    }

    section#capafilm{
        max-width: 100%;
        height: 200px;
        padding: 10px;
    }
    .nref{
        font-size: 1.5rem;
    }
    .imglist{
        width: 210px;
        height: 120px;
    }
    footer{
        padding: 10px;
    }
}

@media (min-width: 310px) {
    h1#mainname{
        font-size: 1.2rem;
    }

    h1#titlesin{
        max-width: 200px;
        text-align: center;
    }
    div#bodysin{
        max-width: 200px;
        height: 140px;
        
        font-size: 10px;
        text-align: center;
    }
    img#maincene{
        width: 110px;
        height: 110px;
        border-radius: 5px;
    }

    section#capafilm{
        max-width: 100%;
        height: 200px;
        padding: 10px;
    }
    footer{
        padding: 10px;
    }
}

@media (min-width: 371px) {
    h1#mainname{
        font-size: 1.3rem;
    }

    h1#titlesin{
        max-width: 210px;
        font-size: 1.2rem;
        padding: 5px;
        text-align: center;
    }
    div#bodysin{
        max-width: 210px;
        height: 155px;
        font-size: 12px;
        text-align: center;
    }
    img#maincene{
        width: 150px;
        height: 150px;
        border-radius: 5px;
    }

    section#capafilm{
        max-width: 100%;
        height: 200px;
        padding: 10px;
    }

}

@media (min-width:521px) {
    h1#titlesin{
        max-width: 350px;
        font-size: 1.875rem;
        padding: 5px;
        text-align: center;
    }
    
    div#bodysin{
        
        max-width: 350px;
        height: 200px;
        font-size: 15px;
        text-align: center;
    }

    img#maincene{
        width: 600px;
        max-width: 100%;
        height: 250px;
        border-radius: 5px;
    }

    section#capafilm{
        max-width: 100%;
        height: 250px;
        padding: 10px;
    }
}

@media (min-width: 1024px) {
    h1#titlesin{
        max-width: 705px;
        font-size: 3.75rem;
        padding: 10px;
        text-align: center;
    }
    
    div#bodysin{  
        max-width: 705px;
        height: 304px;
        font-size: 24px;
        text-align: center;
    }

    img#maincene{
        width: 800px;
        max-width: 100%;
        height: 500px;
        border-radius: 5px;
    }

    section#capafilm{
        max-width: 100%;
        height: 500px;
    }
}

section#capafilm{
    display: flex;
}

div#info{
    height: 62px;
    display: inline-flex;
    padding: 10px;
    align-items: center;
}

.nref{
    padding-left: 20px;
}

.listas{
    
    padding: 10px;
    height: 200px;
}

.imglistas{
    display: flex;
    height: 180px;
    width: 100%;
}

.imglist{
    width: 295px;
    height: 180px;
    margin-left: 10px;
    padding-left: 15px;
}

footer{
    text-align: center;
    margin: 15px;
}

a#meugit{
    text-decoration: none;
    color: white;
}

div#phonesep{
    padding-top: 30px;
}
